<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636085588329-6fh8q3p7h8qa40c2ji6v74v0jhoenoht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636085588329-6fh8q3p7h8qa40c2ji6v74v0jhoenoht</string>
	<key>API_KEY</key>
	<string>AIzaSyCNaJRaZN96wOpoIkXL4xjIn9erXyjGzwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>636085588329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projecttest</string>
	<key>PROJECT_ID</key>
	<string>my-diary-test-74070</string>
	<key>STORAGE_BUCKET</key>
	<string>my-diary-test-74070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636085588329:ios:9e38b2c40a9dec622dedf8</string>
</dict>
</plist>